### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [4]:
#Calculate the total number of students
total_students = school_data_complete["student_name"].count()
total_students

39170

In [5]:
#Calculate the total budget
total_school_budget = school_data["budget"].sum()
total_school_budget

24649428

In [6]:
#Calculate the average math score
average_math_school = school_data_complete["math_score"].mean()
round(average_math_school)

79

In [7]:
#Calculate the average reading score
average_read_school = school_data_complete["reading_score"].mean()
round(average_read_school)

82

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
percent_math_score = round(((school_data_complete["math_score"] >= 70).mean()) * 100, 4)
percent_math_score

74.9809

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
percent_reading_score = round(((school_data_complete["reading_score"] >= 70).mean()) * 100, 4)
percent_reading_score

85.8055

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
math_reading = student_data[(student_data["math_score"]>=70) & (student_data["reading_score"]>=70)]
student_math_reading = math_reading["student_name"].count()

percent_math_reading = student_math_reading/total_students * 100
percent_math_reading

65.17232575950983

In [11]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame({
    "Total Schools": [total_schools], 
    "Total Students": total_students, 
    "Total School Budget": total_school_budget, 
    "Average Math Score": average_math_school, 
    "Average Reading Score": average_read_school, 
    "Percentage of Students passing Math": percent_math_score, 
    "Percentage of Students passing Reading": percent_reading_score, 
    "Percentage of Students passing Math & Reading": percent_math_reading
})
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("${:,.2f}".format)
school_summary

,Total Schools,Total Students,Total School Budget,Average Math Score,Average Reading Score,Percentage of Students passing Math,Percentage of Students passing Reading,Percentage of Students passing Math & Reading
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.9809,85.8055,65.172326

In [12]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
#Setting index to school_name
school_type = school_data.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [14]:
#Counting total students 
merged_data = pd.merge(student_data, school_data, on='school_name')

students_in_school = merged_data['school_name'].value_counts()
students_in_school.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [15]:
#Counting total budget of each school 
school_budget = merged_data.groupby(['school_name']).sum()['budget']
school_budget.head()

school_name
Bailey High School      15549641728
Cabrera High School      2009159448
Figueroa High School     5557128039
Ford High School         4831365924
Griffin High School      1346890000
Name: budget, dtype: int64

In [16]:
#Per student budget 
per_student_budget = school_budget/students_in_school
per_student_budget.head()

Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
dtype: float64

In [17]:
#Average Math Score
average_math = merged_data.groupby(["school_name"])["math_score"].mean()
average_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [18]:
#Average Reading Score
average_reading = merged_data.groupby(["school_name"])["reading_score"].mean()
average_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [19]:
#% Passing Math
students_passing_math = merged_data[(merged_data["math_score"] >= 70)]
passing_math_school = students_passing_math.groupby(["school_name"])["math_score"].mean()
passing_math_school.head()

school_name
Bailey High School      84.505124
Cabrera High School     83.972556
Figueroa High School    84.310894
Ford High School        84.165687
Griffin High School     84.394602
Name: math_score, dtype: float64

In [20]:
#% Passing Reading
students_passing_reading = merged_data[(merged_data["reading_score"] >= 70)]
passing_reading_school = students_passing_math.groupby(["school_name"])["reading_score"].mean()
passing_reading_school.head()

school_name
Bailey High School      81.012357
Cabrera High School     83.955975
Figueroa High School    81.158787
Ford High School        80.892571
Griffin High School     83.766594
Name: reading_score, dtype: float64

In [21]:
#% Overall Passing (The percentage of students that passed math and reading.)
student_count_per_school = merged_data['school_name'].value_counts()
students_passing_both = merged_data[(merged_data["reading_score"] >= 70) & (merged_data["math_score"] >= 70)]

overall_passing_both = students_passing_both.groupby(["school_name"]).count()["student_name"] / student_count_per_school * 100
overall_passing_both.head()

Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
dtype: float64

In [22]:
#Create a dataframe to hold the above results
each_school_df = pd.DataFrame({ 
                            "School Type": school_type, 
                            "Total Students": students_in_school, 
                            "Total School Budget": total_school_budget,
                            "Per Student Budget": per_student_budget,
                            "Average Math Score": average_math, 
                            "Average Reading Score": average_reading, 
                            "% Passing Math": passing_math_school, 
                            "% Passing Reading": passing_reading_school,
                            "% Overall Passing": overall_passing_both
})
each_school_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,24649428,3124928.0,77.048432,81.033963,84.505124,81.012357,54.642283
Cabrera High School,Charter,1858,24649428,1081356.0,83.061895,83.975780,83.972556,83.955975,91.334769
Figueroa High School,District,2949,24649428,1884411.0,76.711767,81.158020,84.310894,81.158787,53.204476
Ford High School,District,2739,24649428,1763916.0,77.102592,80.746258,84.165687,80.892571,54.289887
Griffin High School,Charter,1468,24649428,917500.0,83.351499,83.816757,84.394602,83.766594,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
#Top performing schools 
schools_performance = each_school_df.sort_values(['% Overall Passing'], ascending=False)
schools_performance.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,24649428,1081356.0,83.061895,83.975780,83.972556,83.955975,91.334769
Thomas High School,Charter,1635,24649428,1043130.0,83.418349,83.848930,84.497705,83.881311,90.948012
Griffin High School,Charter,1468,24649428,917500.0,83.351499,83.816757,84.394602,83.766594,90.599455
Wilson High School,Charter,2283,24649428,1319574.0,83.274201,83.989488,84.244050,84.024732,90.582567
Pena High School,Charter,962,24649428,585858.0,83.839917,84.044699,84.719780,84.087912,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [29]:
#Worst performing schools
schools_performance = each_school_df.sort_values(['% Overall Passing'], ascending=True)
schools_performance.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,24649428,2547363.0,76.842711,80.744686,84.339111,80.603994,52.988247
Figueroa High School,District,2949,24649428,1884411.0,76.711767,81.158020,84.310894,81.158787,53.204476
Huang High School,District,2917,24649428,1910635.0,76.629414,81.182722,84.240084,81.182672,53.513884
Hernandez High School,District,4635,24649428,3022020.0,77.289752,80.934412,84.936975,80.853264,53.527508
Johnson High School,District,4761,24649428,3094650.0,77.072464,80.966394,84.742448,80.864865,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [73]:
#Math scores by grade 
nine_grade = merged_data[(merged_data["grade"] == "9th")].groupby(["school_name"]).mean()['math_score']
ten_grade = merged_data[(merged_data["grade"] == "10th")].groupby(["school_name"]).mean()['math_score']
eleven_grade = merged_data[(merged_data["grade"] == "11th")].groupby(["school_name"]).mean()['math_score']
twelve_grade = merged_data[(merged_data["grade"] == "12th")].groupby(["school_name"]).mean()['math_score']

math_by_grade = pd.DataFrame({
    "9th Grade": nine_grade, 
    "10th Grade": ten_grade,
    "11th Grade": eleven_grade, 
    "12th Grade": twelve_grade
})

math_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [74]:
#Reading scores by grade 
nine_grade = merged_data[(merged_data["grade"] == "9th")].groupby(["school_name"]).mean()['reading_score']
ten_grade = merged_data[(merged_data["grade"] == "10th")].groupby(["school_name"]).mean()['reading_score']
eleven_grade = merged_data[(merged_data["grade"] == "11th")].groupby(["school_name"]).mean()['reading_score']
twelve_grade = merged_data[(merged_data["grade"] == "12th")].groupby(["school_name"]).mean()['reading_score']

math_by_grade = pd.DataFrame({
    "9th Grade": nine_grade, 
    "10th Grade": ten_grade,
    "11th Grade": eleven_grade, 
    "12th Grade": twelve_grade
})

math_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
#Scores by school spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [22]:
#Scores by school size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [24]:
#Scores by school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208